/*
 * Nextflow config for nf-index-genome
 * Genome index building workflows using nf-core modules
 */

nextflow.enable.dsl = 2

manifest {
    name            = 'nf-index-genome'
    author          = 'Sam Minot, Cirro Bio'
    homePage        = 'https://github.com/nf-index-genome/nf-index-genome'
    description     = 'Utilities for building genome indices (Bowtie2, STAR, Bismark, BWA, HISAT2)'
    mainScript      = 'main_bowtie2.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0'
}

// Default params shared by all workflows
params {
    outdir    = './results'
    fasta     = null
    gtf       = null
    hisat2_gtf       = null  // HISAT2 optional GTF (generates ss and exon files automatically)
    hisat2_ss        = null  // HISAT2 optional splice sites file (.ss)
    hisat2_exon      = null  // HISAT2 optional exon file (.exon)
    hisat2_snp       = null  // HISAT2 optional SNP file (.snp)
    hisat2_haplotype = null  // HISAT2 optional haplotype file (.haplotype)
    hisat2_build_memory = '16 GB'  // min memory (GB) to use GTF/splice sites in HISAT2 index
    bismark_extra_args  = ""
    bwa_extra_args      = ""
    bowtie2_extra_args  = ""
    hisat2_extra_args   = ""
    star_extra_args     = ""
    salmon_extra_args   = ""
    // Optional extra FASTA appended to transcriptome prior to Salmon index creation
    extra_fasta         = "$projectDir/assets/extra.fasta"
    // Container used for gffread
    gffread_container = "quay.io/biocontainers/gffread:0.12.7--h077b44d_6"
}

// Test profile: use nf-core test data (same as tests in nf-core/modules)
profiles {
    test {
        includeConfig 'tests/config/test_data.config'
        params {
            outdir = './results'
        }
    }
}
