/*
 * Nextflow config for nf-index-genome
 * Genome index building workflows using nf-core modules
 */

nextflow.enable.dsl = 2

manifest {
    name            = 'nf-index-genome'
    author          = 'Sam Minot, Cirro Bio'
    homePage        = 'https://github.com/nf-index-genome/nf-index-genome'
    description     = 'Utilities for building genome indices (Bowtie2, STAR, Bismark, BWA, HISAT2)'
    mainScript      = 'main_bowtie2.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0'
}

// Default params shared by all workflows
params {
    outdir    = './results'
    fasta     = null
    gtf       = null
    splicesites = null  // HISAT2 optional splice sites file
    hisat2_build_memory = '16 GB'  // min memory (GB) to use GTF/splice sites in HISAT2 index
}

// Load base process config
includeConfig 'conf/base.config'

// Test profile: use nf-core test data (same as tests in nf-core/modules)
profiles {
    test {
        includeConfig 'tests/config/test_data.config'
        params {
            outdir = './results'
        }
    }
}
