/*
 * Base process configuration for nf-index-genome
 */

process {
    cpus   = 1
    memory = 7.GB
    time   = 4.h

    withName: 'STAR_GENOMEGENERATE' {
        memory = 32.GB
        cpus   = 4
    }
    withName: 'BISMARK_GENOMEPREPARATION' {
        memory = 16.GB
        cpus   = 4
    }
    withName: 'HISAT2_BUILD' {
        memory = 16.GB
        cpus   = 4
    }
}
