/*
 * Test data config: same URLs as nf-core/modules tests (nf-core/test-datasets, branch: modules).
 * Used by nf-test workflow tests and by -profile test.
 */
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    // Convenience shortcuts (used by profile test and scripts)
    test_fasta_sarscov2 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    test_gtf_sarscov2   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.gtf'
    test_fasta_human    = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    test_gtf_human      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf'
}
